@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.spaced-list li {
    margin-bottom: 1rem;
}
